/* set default font, box-sizing, margin and padding to 0 for all elements */

body{
  font-family: 'Krona One';font-size: 22px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

/* Navigation Bar */
.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 1rem 2rem;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar a:hover {
  color: #0f0066;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #090057;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #00124e, #fde400);
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content a{
    display: inline-block;
}

/* Gallery */
.gallery {
  padding: 2rem;
  text-align: center;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.gallery-grid img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* Table */
.info-table {
  padding: 2rem;
  text-align: center;
}

table {
  width: 80%;
  margin: 1rem auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th, td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

th {
  background: linear-gradient(90deg, #04003b, #fbff00,  #0a0046);;
  color: white;
  text-transform: uppercase;
}

.btn {
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00124e;
  overflow: hidden;
  align-content: center;
  text-align: center;
  
  
}
/* navbar */
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #cde402;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.25s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(22, 10, 66);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #eefd16;
  color: rgb(20, 19, 83);
}

#topnavbuttons {
  width: fit-content;
  height: 100%;
  float: right;
  align-items: center;
  text-align: center;
}

#logo{ 
  float: left;
  color:#cde402;
  text-align: center;
}