body{
  font-family: 'Krona One';font-size: 22px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00124e;
  overflow: hidden;
  align-content: center;
  text-align: center;
  
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #cde402;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.25s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(22, 10, 66);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #eefd16;
  color: rgb(20, 19, 83);
}

#topnavbuttons {
  width: fit-content;
  height: 100%;
  float: right;
  align-items: center;
  text-align: center;
}

#logo{ 
  float: left;
  color:#cde402;
  text-align: center;
}

button{
  width: 50%;
  padding: 6px;
  background: #7494ec;
  border-radius: 6px;
  border:none;
  cursor: pointer;
  font-size:16px;
  color: #fff;
  font-weight: 500px;
  margin-bottom:20px;
  transition:1s;

}
button:hover{
  background:#171f36;
  box-shadow: 0 0 10px rgb(255, 0, 221);
  padding: 15%
}


.form-box{
  width:20%;
  padding:40px;
  border-style: solid;
  background: #0b0138;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  margin:auto;
  margin-top:18rem;
}

.form-box h2 {
  color: rgb(241, 255, 44);
}

.form-box p {
  color: rgb(250, 246, 35);
}

