body{
  font-family: 'Krona One';font-size: 22px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00124e;
  overflow: hidden;
  align-content: center;
  text-align: center;
  
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #cde402;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.25s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(22, 10, 66);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #eefd16;
  color: rgb(20, 19, 83);
}

#topnavbuttons {
  width: fit-content;
  height: 100%;
  float: right;
  align-items: center;
  text-align: center;
}

#logo{ 
  float: left;
  color:#cde402;
  text-align: center;
}

.center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 840px;
            border:#eefd16 3px solid ;
        }


button{
  display: flex;
  width: 200px;
  padding: 16px;
  background: #7494ec;
  border-radius: 50px;
  border:none;
  cursor: pointer;
  font-size:16px;
  color: #fff;
  font-weight: 10px;
  margin-bottom:10px;
  transition:1s;
  
  justify-content: center;
}
button:hover{
  background:#0d084c;
  box-shadow: 0 0 2px rgb(239, 255, 12);
  
}


.form-box{
  width:20%;
  padding:40px;
  border-style: solid;
  background: #0b0138;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  margin:auto;
  margin-top:18rem;
}

.form-box h2 {
  color: rgb(241, 255, 44);
}

.form-box p {
  color: rgb(250, 246, 35);
}

.cool_box {
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(0.7vw);
  border: solid #fff 2px ;
  height: 95vh;
}

.welcome_box {
  background-color: #0d084c;
  backdrop-filter: blur(0.7vw);
  border: solid #eefd16 2px;
  height:95vh ;
}