body{
  font-family: 'Krona One';font-size: 22px;
  color:white;
                background-image: url('https://media.discordapp.net/attachments/1282670009868357682/1450141306767675534/i_made_this_so_you_dont_have_to.png?ex=694174d5&is=69402355&hm=f34b375a04b3c1b2e5e76ef1e2a2bedfc596a2983982c6c0551f3b16dfdb1f60&=&format=webp&quality=lossless');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00124e;
  overflow: hidden;
  align-content: center;
  text-align: center;
  
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #cde402;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.25s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(22, 10, 66);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #eefd16;
  color: rgb(20, 19, 83);
}

#topnavbuttons {
  width: fit-content;
  height: 100%;
  float: right;
  align-items: center;
  text-align: center;
}

#logo{ 
  float: left;
  color:#cde402;
  text-align: center;
}

.cool_box {
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(0.7vw);
  border: solid #fff 2px ;
  height: 125vh;
}

.welcome_box {
  background-color: #0d084c;
  backdrop-filter: blur(0.7vw);
  border: solid #eefd16 2px;
  height:95vh ;
}

.terms-box{
  width:75%;
  padding:40px;
  border-style: solid;
  background: #0b0138;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  margin:auto;
  margin-top:18rem;
  
}