body{
  font-family: 'Krona One';font-size: 22px;
  color:white;
                background-image: url('https://cdn.discordapp.com/attachments/1282670009868357682/1446106350638731344/3d-blue-yellow-techno-abstract-background-free-photo.png?ex=6932c6fd&is=6931757d&hm=9b78e19a94a47cb5375a223a8c8f3678182d152092f875489c398faf6a60c98a&');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00124e;
  overflow: hidden;
  align-content: center;
  text-align: center;
  
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #cde402;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.25s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(22, 10, 66);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #eefd16;
  color: rgb(20, 19, 83);
}

#topnavbuttons {
  width: fit-content;
  height: 100%;
  float: right;
  align-items: center;
  text-align: center;
}

#logo{ 
  float: left;
  color:#cde402;
  text-align: center;
}

.cool_box {
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(0.7vw);
  border: solid #fff 2px ;
  height: 125vh;
}

.welcome_box {
  background-color: #0d084c;
  backdrop-filter: blur(0.7vw);
  border: solid #eefd16 2px;
  height:95vh ;
}

